# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\files\schedule\wallpaper_changer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
